.login_img {
  background-image: url("../../Images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form {
  background-color: white;
  filter: brightness(2px);
  width: 25%;
  height: 60%;
  border-radius: 5%;
}
.login_form table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login_form td {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 80%;  
}
.login_form tr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_form_forgot {
  font-size: 80%;
  text-align: end;
  align-items:  end !important;
  margin-top: -2%;
}
.login_form h2 {
  color: #626842;
  text-align: center;
}
button.login_form_btn {
  width: 100%;
  background-color: #626842;
  padding: 3.5% 0%;
}
button.login_form_btn:hover{
  background-color: #3c4029;
}
@media (max-width: 1050px) {
  .login_form {
    width: 60%;
    height: 50%;
  }
  .login_form table {
    width: 100%;
  }
  .login_form tr {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .login_form {
    width: 80%;
    height: 50%;
  }
  .login_form input {
    width: 100%;
  }
  .login_form tr {
    width: 100%;
    margin: 2%;
  }
}
@media (max-width: 650px) {
  .login_form {
    width: 80%;
    height: 60%;
  }
  .login_form tr {
    width: 100%;
  }
  .login_form_forgot{
    margin-top: -6%;
  }
}
