.register_img {
  background-image: url("../../Images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.register_form {
  background-color: white;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
}
.register_form table {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register_form tr{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2% 0% 2% 0%;
  height: 30%;
}
.register_form td {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 2% 0% 2%;
  
}
button.register_form_btn {
  width: 100%;
  background-color: #626842;
  padding: 2.5% 0%;
}
button.register_form_btn:hover{
  background-color: #3c4029;
}
.register_form h2 {
  color: #626842;
}
@media (max-width: 1250px) {
  .register_form {
    width: 60%;
    height: 80%;
  }
  .register_form table {
    margin-top: 3%;
  }
  .register_form input {
    width: 100%;
    height: 60%;
  }
  .register_form td {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 850px) {
  .register_form {
    width: 80%;
    height: 60%;
  }
}
@media (max-width: 650px) {
  .register_form {
    width: 90%;
    height: 95%;
    border-radius: 2%;
  }
  .register_form table {
    display: flex;
    justify-content: center;
    height: 65%;
  }
  .register_form tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2.5%;
  }
  .register_form td {
    margin: 2%;
  }
}
